%head
  :css
    /* 基本のテーブル定義 */
    table.t {border-collapse:collapse;}
    /*table.t td{border:1px solid #000000;height:16px;}*/
    table.t th{border:1px solid #000000;font-size:16px}
    table.t th{background-color:#FFBB88;color:#000000;}
    /*
      データ域        90×3+110 = 380
      ＋スクロール域  +16       = 396
      ＋垂直ヘッダ    +90       = 486
      スクロール範囲      (w×h) 280×130
      バー付データ部サイズ(w×h) 296×145  (バー　v16:h15)
      ヘッダを含むサイズ  (w×h) 386×167  (ヘッダ１行18px)
     */

    #content{
      display: inline-block;
    }
    #header_h,#header_v, .t, #data{
      margin-bottom: 0;
    }
    #zentai,#frozen,#header_h,#header_v, .t, #data{
      padding: 0;
    }
    #frozen{
      position:relative;
      }
    #frozen table tbody tr td{
      height: 188px;
    }
    #header_h {
       position: relative;
       overflow-x:hidden;
       overflow-y:hidden;
       margin-bottom: 1px;
       }
    #right_side{
       position: relative;
       left: 85em;
       overflow-x:hidden;
       overflow-y:hidden;    }
    #header_v {
       position: relative;
       left:0;
       height:455px;
       overflow-x:hidden;
       overflow-y:hidden;
       }
    #data {
       position: relative;
       overflow-x:hidden;
       overflow-y:hidden;
       height:455px;
       padding: 0;
    }
    .active{
      background-color: #DCDCDC !important;
    }

     /* IE11 */
    @media all and (-ms-high-contrast:none){
      *::-ms-backdrop, .vertical {
        padding-bottom: 0px !important;
      }
      *::-ms-backdrop, #header_h, #frozen {
        height: 210px;
      }
    }

    /* edge用 */
    @supports (-ms-accelerator:true) {
      #header_h {
        height: 210px;
      }
      #frozen {
        height: 210px;
        border-bottom: 0;
      }
     }

%noscript <p> JavaScriptが<font color="#FF3333">無効</font>になっています。<br /> 登録文書編集、新規文書登録、検索などを行う際はJavaScriptを有効にしてください。 </p>
.container-fluid
  .row
    %table.layout{:border => "0"}
      %tbody
        %tr
          %td.ltd
          %td.h1td
            %h1{:align => "center"} 情報登録・検索システム
          %td.rtd
        %tr
          %td.ltd
          %td{:align => "right"}
            %table
              %tbody
                %tr
                  %td{:align => "right"}
                    %a{:href => "show_user.cgi?id=1"}> admin
                    さんがログインしています。
                    %a{:href => "logout.cgi"} ログアウト
                %tr
                  %td{:align => "right"}
                    %a{:href => "editfiles.cgi"} データ管理
          %td.rtd
        %tr
          %td.ltd
          %td
            #tabs
              %ul
                %li
                  %a.ltab{:href => "#"} ユーザー管理
                %li
                  %a.tab{:href => "#"} ファイル保存設定
                %li
                  %a.tab{:href => "#"} バックアップ
                %li
                  %a.active.tab{:href => "#"} 関連施設登録
                %li
                  %a.tab{:href => "#"} 施設マスターテーブルの管理
            #content
              #header
                %h3 関連施設登録
                .documents
                  %label{:for => "inf"}
                    %input#inf{:name => "name", :type => "checkbox", :value => ""}>/
                    文書情報
                %div{style: "display:block;"}
                  %input{:name => "", :placeholder => "キーワードを入力してください", :size => "30", :type => "text"}/
                  %label{:for => "in"}
                    %input#in{:checked => "checked", :name => "name", :type => "radio", :value => "含める"}>/
                    or
                  %label{:for => "out"}
                    %input#out{:name => "name", :type => "radio", :value => "含めない"}>/
                    and
                  %button.btn.btn-default{:type => "button"} 検索
                  %label{:for => "lock"}
                    %input#lock{:name => "name", :type => "checkbox", :value => ""}>/
                    ロックを非表示
                %a{:href => "#camp", class: "btn btn-default plink"}大学
                %a{:href => "#react", class: "btn btn-default plink"}原子力
                %a{:href => "#etc", class: "btn btn-default plink"}その他

              .col-lg-12#zentai{style: "display: block; margin-top: 1em;"}
                .col-lg-3.col-sm-3.col-md-3.col-xs-3#frozen
                  %table.table.table-bordered.t
                    %tr
                      %td.col-lg-2.col-sm-2.col-md-2.col-xs-2
                        %p.vertical 編集
                      %td.col-lg-2.col-sm-2.col-md-2.col-xs-2
                        %p.vertical ロック
                      %td.col-lg-6.col-sm-6.col-md-6.col-xs-6
                        %p.vertical 登録ID
                      %td.col-lg-2.col-sm-2.col-md-2.col-xs-2
                        %p.vertical PDF
                .col-lg-8.col-sm-9.col-md-9.col-xs-9#header_h
                  %table.table.table-bordered.t.tdata.pscroll{:name => "T"}
                    %thead
                      %tr
                        - camp_arrs = ["東京大学","武蔵野工業大学","立教大学","近畿大学","京都大学(KUHFR)", "京都大学(KUR)", "京都大学(KUCA)"]
                        - reac_arrs = ["水均質臨界実験装置(AHCF)","JRR-1","JRR-2","JRR-3", "高温ガス炉(VHTRC))","材料試験炉(JMTR)","軽水炉(TCA)","高速増殖(もんじゅ)","水性均質(AHR)","三菱臨界(MCA)","東芝教育訓練用(TRR-1)","新型転換(ふげん)","安全性研究(NSRR)","定常臨(STACY)","高中性子束炉(KUHFR)","高温工学試験研究炉(HTTR)","動力試験炉(JPDR)","JMTRC","原子力第１船むつ","常陽","DCA","DCA","DCA","DCA","DCA","DCA","DCA","DCA","DCA","DCA","DCA"]
                        - for camp_arr in camp_arrs do
                          - if camp_arr == camp_arrs.first
                            %td#camp{:valigh => "top", :width => "1",style: "padding-right: 9px;"}
                              %p.vertical #{camp_arr}
                          - else
                            %td{:valigh => "top", :width => "1",style: "padding-right: 9px;"}
                              %p.vertical #{camp_arr}
                        - for reac_arr in reac_arrs do
                          - if reac_arr == reac_arrs.first
                            %td#react{:valigh => "top", :width => "1", style: "margin-left:17px; padding-right: 9px;"}
                              %p.vertical #{reac_arr}
                          - else
                            %td{:valigh => "top", :width => "1",style: "padding-right: 9px;"}
                              %p.vertical #{reac_arr}
                .col-lg-3.col-sm-3.col-md-3.col-xs-3#header_v
                  %table.table.table-bordered.t{:name => "TV"}
                    %thead
                      - for num in 1..50 do
                        %tr
                          %td.col-lg-2.col-sm-2.col-md-2.col-xs-2{:style => "vertical-align: middle;"}
                            - if num == 1
                              %button#button.btn.btn-warning.btn-xs{:name => "button", :title => "編集", :type => "button"}
                                %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                            - else
                              %button.btn.btn-warning.btn-xs.dis{:name => "button", :title => "編集", :type => "button"}
                                %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                          %td.col-lg-2.col-sm-2.col-md-2.col-xs-2{:style => "vertical-align: middle; "}
                            - if num == 1
                              %button.lock.btn.btn-default.btn-xs{:name => "button", :title => "ロック解除中", :type => "button"}
                                %i.fa.fa-unlock-alt{"aria-hidden" => "true"}
                            - else
                              %button.btn.btn-default.btn-xs.dis{:name => "button", :title => "ロック解除中", :type => "button"}
                                %i.fa.fa-unlock-alt{"aria-hidden" => "true"}
                          %td.col-lg-6.col-sm-6.col-md-6.col-xs-6{style: "border-bottom-width: 1px; vertical-align: middle;"}
                            %samll
                              #{"2006" + "-" + format("%06d",num)}
                          %td.col-lg-2.col-sm-2.col-md-2.col-xs-2{:style => "vertical-align: middle; border-bottom-width: 0px"}
                            %a{:href => "#"}
                              - dnum = "#{num+38}安第#{num+235}号"
                              %i.fa.fa-file-pdf-o{"aria-hidden": "true" ,title: dnum}
                .col-lg-8.col-sm-9.col-md-9.col-xs-9#data
                  %table.table.table-bordered.t.tdata{:name => "T", style: "margin-bottom:0;"}
                    %tbody
                      - for num in 1..50 do
                        %tr
                          %td.rep{:width => "1",style: "padding-right: 14px; padding-top:13px; background: #fff;"}
                            %i.fa.fa-check{"aria-hidden" => "true"}
                          - for num in 1..37 do
                            %td.rep{:width => "1", style: "padding-right: 27px; background: #fff;"}

              #pagenate.col-md-12.col-xs-12.text-center
                %nav
                  %ul.pagination
                    %li.page-item.disabled
                      %a.page-link{"aria-label" => "Previ ous", :href => "#"}
                        %span{"aria-hidden" => "true"} «
                        %span.sr-only Previous
                    - for i in 1..5 do
                      - if i == 1
                        %li.page-item.active
                          %a.page-link{:href => "#"}
                            1
                            %span.sr-only (current)
                      - else
                        %li.page-item
                          %a.page.link{href: '#'}
                            #{i}

                    %li.page-item
                      %a.page-link{"aria-label" => "Next", :href => "#"}
                        %span{"aria-hidden" => "true"} »
                        %span.sr-only Next

              %form{:action => "/2", :method => "post"}
                #sample.modal.fade{:role => "dialog",:tabindex=>"-1" }
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{"data-dismiss" => "modal", :type => "button"}
                          %span ×
                        %h4.modal-title 関連施設の登録
                      .modal-body
                        %table.table.table-bordered
                          %tbody
                            %tr
                              %td
                                %p.vertical
                                  %b 登録ID
                              %td 2006-000001
                            %tr
                              %td
                                %p.vertical
                                  %b 施設名
                              %td
                                - for i in 1..5 do
                                  .col-xs-3
                                    %h4
                                      %span.label.label-warning FacilityName #{i}
                      %br/
                      .modal-footer
                        %button.btn.btn-primary{:type => "submit"} OK
                        %button#aho.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel

  :javascript
    function $E(name){ return document.getElementById(name); }
    function scroll(){
       $E("header_h").scrollLeft= $E("data").scrollLeft;// データ部のスクロールをヘッダに反映
       $E("header_v").scrollTop = $E("data").scrollTop;// データ部のスクロールをヘッダに反映
       }
    $E("data").onscroll=scroll;
